@import './font-faces.less';
@import './fonts.less';
@import './colors.less';

/*-----CSS Reset Fixes-----*/
body {
	line-height: 1.4 !important;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0.24em 0;
}
/*-------------------------*/

#app {
	min-width: 100%;
	min-height: 100%;
	width: fit-content;
	color: white;
	background-color: @dark-gray;
	font-family: @defaultFont;
}

#window-modal-container {
	display: none;
	position: fixed;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
}

.overlay.mask {
	background: @gray;
}

h1, h2, h3, h4, h5, h6 {
	font-family: @Bold;
}
